<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		img{
			width:1300px;
			height:600px;
		}
	</style>
</head>
<body>
	<img src="/admin/images/n.jpg" alt="">
</body>
</html>