<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/admin/css/pintuer.css">
<link rel="stylesheet" href="/admin/css/admin.css">
<script src="/admin/js/jquery.js"></script>
<script src="/admin/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span>添加食品</strong></div>
  <div class="body-content">
    <form method="post" enctype="multipart/form-data" class="form-x" action="/admin/food/add">    
      <div class="form-group">
        <div class="label">
          <label for="sitename">食品的名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input" id="mpass" name="spname" size="50" placeholder="请输入食品的名字" data-validate="required:请输入食品的名称" />       
        </div>
      </div>      
      <div class="form-group">
        <div class="label">
          <label for="sitename">食品的价格：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="price" size="50" placeholder="请输入食品的价格" data-validate="required:请输入食品的价格" />      
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label for="sitename">食品详情：</label>
        </div>
        <div class="field">
          <textarea placeholder="请在此输入对食品的描述" name="details" id="" cols="100%" rows="10" class="input" style="height:80px;resize: none;"></textarea>
        </div> 
      </div>

      <div class="form-group">
        <div class="label">
          <label for="sitename">食品类别：</label>
        </div>
        <div class="field">
          <select name="typeid" id="" class="input">
            <option value="1">小菜</option>
            <option value="2">主食</option>
            <option value="3">酒水</option>
            <option value="4">甜点</option>
          </select>
        </div> 
      </div>
      
      <div class="form-group">
        <div class="label">
          <label for="sitename">食品状态：</label>
        </div>
        <div class="field" style="padding:8px">
          <label for=""><input style="line-height:36px" type="radio" name="status" value="0" id="" checked>上架</label>  
          <label for=""><input style="line-height:36px" type="radio" name="status" value="1" id="">下架</label>  
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label for="sitename">请选择食品图片：</label>
        </div>
        <div class="field">
          <input type="file" class="input" name="img" data-validate="required:请选择轮播图图片" />      
        </div> 
      </div>

      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>   
        </div>
      </div>      
    </form>
  </div>
</div>
</body>
</html>